extends layout
- var button="Submit"

block content
    h1= title
    p Welcome to license creation

    #content
        .block
        span User email:
        input#email
        p
        span license code:
        input#sku
        p
        span name:
        input#name
        p
        button#getLicense Submit
        p
        | List of available license codes
        p
        | 15120106 - Personal Edition
        p
        | 16121801 - Classroom Edition
        p
        | 16092701 - Forever Edition
        div#response