extends layout
- var button="Submit"

block content
    h1= title
    p Welcome to license creation

    #content
        .block
        span User email:
        input#email
        p
        span license sku:
        input#sku
        p
        span name:
        input#name
        p
        button#getLicense Submit
        p
        p
        sku 15120106 Personal Edition
        p
        sku 16121801 Classroom Edition
        p
        sku 16062401 Family Edition - unlimited
        p
        sku 16092701 Forever Edition
        p
        sku 16121901 Forever Upgrade Special
        div#response