extends layout
- var button="Submit"

block content
    h1= title
    p Welcome to license creation

    #content
        .block
        span User email:
        input#email
        p
        span license sku:
        input#sku
        p
        span name:
        input#name
        p
        button#getLicense Submit
        p

        div#response